extends layout

block content
  h1 Cats
  p List of Cats
  div
    each user, i in cats
      div(value=cats) This is cat#1. It is #{cats.age} years old. It is the color of #{cats.color}. Its name is #{cats.name}.